[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
mediapipe = "*"
tensorflow = "*"
numpy = "*"
pyaudio = "*"
python-osc = "*"
scipy = "*"
pygame = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
